# Unity project

Assets/
Library/
Logs/
Packages/
UserSettings/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/

# Wwise

.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
AkWwiseProjectData.asset
IncrementalSoundBankData.xml